/*Para esse código, é recomendável ter a extensão "Better Comments", de Aaron Bond instalada!*/
/*https://marketplace.visualstudio.com/items?itemName=aaron-bond.better-comments*/

/*LEGENDA!!! */
/**TITULOS INDICANDO INICIO E FIM DE CADA PARTE DO CODIGO */
/*!PRAQ SERVE AQUELA PARTE DO CODIGO*/
/*?CODIGO EM FASE DE TESTES*/
/*TODO COMENTARIO DE DESENVOLVEDOR*/

/**CORES OFICIAIS DO SITE */
/*#F7B910 AMARELO*/
/*#D91720 VERMELHO*/
/*#1578BC AZUL*/
/*#009535 VERDE*/

/**INICIO ESTILIZACOES GERAIS */
* {
	font-family: poppins;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	overflow-x: hidden;
}

main {
	z-index: 0;
	display: block;
}

.selector-for-some-widget {
	/*TODO bootstrap*/
	box-sizing: content-box;
}

/**FIM ESTILIZACOES GERAIS */

/**INICIO LOGIN */
header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	background: transparent;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 98;
}

.telaLogin .fechar {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.login button {
	width: 130px;
	height: 50px;
	border-radius: 10px;
	margin: 20px 15px 0 0;
	cursor: pointer;
	font-size: 15px;
	background: #1578BC;
	color: #E7F0DC;
	transition: .5s;
	border: none;
}

.login button:hover {
	background: #12639a;
	transition: .5s;
	transform: scale(1.05);
}

.telaLogin {
	scale: 0;
	transition: 0.2s;
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;

}

.telaLogin.ativoTela {
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	width: 400px;
	height: 440px;
	backdrop-filter: blur(5px);
	border: 0.1px solid rgba(255, 255, 255, 0.527);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	scale: 1;
	transition: 0.2s;
}

.telaLogin .formReg.ativoTela {
	width: 100%;
	padding: 40px;
}

.telaLogin.ativoMenu {
	height: 600px;
}

.telaLogin.ativoMenu .form-log {
	transition: 1s;
	transform: translate(400px);
}

.telaLogin.ativoMenu .formReg {
	transition: 1s;
	transform: translate(0px);
}

.telaLogin .form-log {
	transition: 0.5s;
	transform: translate(0);
}

.telaLogin .formReg {
	position: absolute;
	transform: translate(-400px);
	transition: 0.5s;
}

.telaLogin h2 {
	font-size: 32px;
	letter-spacing: -2px;
	color: #D91720;
	text-align: center;
}

.input-box {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: #0c0f09 2px solid;
	margin: 30px 0;
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 16px;
	color: #009535;
	pointer-events: none;
	font-weight: 450;
}

.input-box input:focus~label,
.input-box input:valid~label {
	top: -5px;
}

.input-box input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: transparent;
	font-size: 16px;
	color: rgb(0, 0, 0);
	font-weight: 200;
	padding: 0 35px 0 5px;
}

.input-box .icon-log {
	position: absolute;
	right: 8px;
	font-size: 20px;
	color: #D91720;
	line-height: 57px;
}

.gerenc-senha {
	font-size: 14px;
	color: #027d2d;
	font-weight: 500;
	margin: -25px 0 25px;
	display: flex;
	justify-content: space-between;
}

.gerenc-senha label input {
	accent-color: #009535;
	margin-right: 3px;
}

.gerenc-senha a {
	color: #027d2d;
	text-decoration: none;
}

.gerenc-senha a:hover {
	text-decoration: underline;
}

.btnSubmit {
	width: 100%;
	height: 50px;
	border-radius: 20px;
	border: none;
	outline: none;
	color: #ffffff;
	background-color: #009535;
	transition: .5s;
	margin-bottom: 20px;
	font-weight: 500;
	cursor: pointer;
}

.btnSubmit:hover {
	background-color: #027d2d;
	transform: scale(1.05);
	transition: .5s;
}

.registro {
	font-size: 16px;
	font-weight: 400;
	color: #027d2d;
	text-align: center;
}

.registro p a {
	text-decoration: none;
	color: #131b0d;
	font-weight: 600;
}

.registro p a:hover {
	text-decoration: underline;
}

/**FIM LOGIN */

/**INICIO MENU LATERAL */
nav.menu-lat {
	width: 100px;
	height: 100%;
	background-color: #009535;
	box-shadow: 3px 0 0 #009535;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: 0.7s;
	z-index: 99;
}

nav.menu-lat ul {
	padding: 0;
}

nav.menu-lat.expandir {
	width: 300px;
	transition: 1s;
}

.btn-expnd {
	width: 100%;
	padding-left: 20px;
}

.btn-expnd>i {
	color: #E7F0DC;
	font-size: 36px;
	cursor: pointer;
	margin: 10px;
}

ul {
	height: 100%;
	list-style-type: none;
}

ul li.item-menu {
	transition: 0.5s;
}

ul li.ativo {
	background-color: #009535;
}

ul li.item-menu:hover {
	background: #027d2d;
}

ul li.item-menu a {
	color: #E7F0DC;
	text-decoration: none;
	font-size: 20px;
	padding: 20px 4%;
	display: flex;
	line-height: 40px;

}

ul li.item-menu a .txt-link {
	margin-left: 80px;
	transition: 1s;
	opacity: 0;
}

nav.menu-lat.expandir .txt-link {
	margin-left: 40px;
	transition: 1s;
	opacity: 100%;
}

ul li.item-menu a .icon>i {
	font-size: 25px;
	margin-left: 15px;
	padding-left: 15px;
}

/**FIM  MENU LATERAL*/